@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Julius+Sans+One&family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.container {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
}

.image {
    width: 300px;
    border-radius: 1rem;
}

.title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

.text {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding-bottom: 1rem;
}



